:root {
    --dark-bg: #141F36;
    --menu-bg: #B9B2C5;
    --btn-bg: #57B5AF;
    --btn-bg-hover: #657EAE;
    --text-dark: #40514E;
    --text-light: #ffffff;
    --section-title: #366994;
}
html * {
    transition: all 0.5s;
}
body {
    color: var(--text-dark);
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}


h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}


h3 {
    color: var(--section-title);
}

hr{
    border:dotted #EAF6F6 7px;
    border-bottom: none;
    width:3%;
    margin:100px auto;
}

a {
    color:var(--btn-bg);
    font-family:"Montserrat", sans-serif;
    margin:10px 20px;
    text-decoration:none;
    font-weight: bold;
}

a:hover {
    color:var(--btn-bg-hover);
}

p{
    line-height: 2;
}

.code-img{
    width:25%;
    float:right;
    margin-left: 30px;
}

.data-img{
    width:25%;
    float:left;
    margin-right: 30px;
}


.top-container {
    background-color: var(--dark-bg);
    background-image: url('/images/luca-bravo-corrected.jpg');
}

.middle-container{
    margin: 100px 0 0;

}
.bottom-container {
    background-color: var(--dark-bg);
    color: var(--text-light);
    padding: 50px 20px 20px;
    margin-top:50px;
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
}

.intro{
    width:30%;
    margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.btn {
    background-color: var(--btn-bg);
    /* TODO: cambiar a gradiente y animar hover
    background-image: linear-gradient(to bottom, #11cdd4, #11999E); 
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E); 
    */
    border-radius: 8px;
  font-family:"Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
    color: #ffffff;
    background-color: var(--btn-bg-hover);
}

.copyright{
    color: #EAF6F6;
    font-size:0.75rem;
    pading:20px 0;
}